- const preDialog = [
- 	"You were lost in an unknown area. Find your way out.",
- 	"Click on the tiles to move your character.",
- 	"Click on some of the objects to interact, but avoid the monsters.",
- ];
- const postDialog = [
- 	"You managed to escape the dungeon!",
- 	"",
- ];
- const loseDialog = "You lose! You touched the monster!";
