doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="preload" as="image" href="../assets/css-maze-barrel.png")
		link(rel="preload" as="image" href="../assets/css-maze-character.png")
		link(rel="preload" as="image" href="../assets/css-maze-character-faint.png")
		link(rel="preload" as="image" href="../assets/css-maze-door.png")
		link(rel="preload" as="image" href="../assets/css-maze-exit.png")
		link(rel="preload" as="image" href="../assets/css-maze-floor.png")
		link(rel="preload" as="image" href="../assets/css-maze-key.png")
		link(rel="preload" as="image" href="../assets/css-maze-monster.png")
		link(rel="preload" as="image" href="../assets/css-maze-reset.png")
		link(rel="preload" as="image" href="../assets/css-maze-tree.png")
		link(rel="preload" as="image" href="../assets/css-maze-wall.png")
		style
			| @import "./css/style.scss"
		title
			| CSS Only Retro Dungeon Maze Puzzle
	body
		include ./map.pug
		include ./definition.pug
		include ./game.pug
