//------------------------------------------------------------------------------
//- This setup is designed to be editable, and to become something like a game
//- engine. As of now, there are only few types of tile may be inserted into
//- the game map. Those are the below, and its usage.
//-
//- S -> The starting point.
//- F -> Escape door.
//- K -> Key to open the locked door.
//- L -> Locked door. How to input: L_x-y where x is the x index (of array)
//-      of K, and y is the y index. Array is declared as 2 dimensional array.
//- W -> Wall. You can't pass here.
//- T -> Tree. You can't pass here.
//- B -> Barrel. You can't pass here.
//- M -> Monster. Don't go here, you'll lose.
//- <space> -> Floor where you can walk.
//------------------------------------------------------------------------------
- const map = [];
- map.push(["W", "W", "W", "M",     "W",     "W", " ",     " ",     " ", "M"]);
- map.push([" ", " ", " ", " ",     "W",     "W", "M",     " ",     "B", "B"]);
- map.push(["W", " ", "B", "B",     "W",     "W", " ",     " ",     " ", "K"]);
- map.push(["W", " ", " ", " ",     "W",     "W", "W",     " ",     "M", "W"]);
- map.push([" ", "T", "T", " ",     "M",     " ", "L_7-9", " ",     "T", "W"]);
- map.push([" ", "T", "T", " ",     "W",     " ", "B",     "B",     "W", "W"]);
- map.push(["K", " ", "S", " ",     "L_0-6", " ", " ",     "L_1-9", "F", "W"]);
- map.push([" ", "B", "T", "B",     "M",     " ", "B",     "W",     "W", "W"]);
- map.push([" ", "T", "W", "L_9-2", " ",     " ", "B",     "W",     "T", "W"]);
- map.push(["W", "K", " ", " ",     "M",     " ", " ",     "K",     "T", "W"]);
